* {
  box-sizing: border-box;
  /*border: 1px solid tomato;*/
}

.App {
  color: white;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  padding: 2rem;
}

.loading {
  font-size: 2rem;
  color: wheat;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainText {
  z-index: 2;
  position: absolute;
  max-width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  line-height: 1.5;
  padding: 1rem 2rem;
  margin-top: 6rem;
}

.mediaContainer img {
  width: 100%;
  height: auto;
}

.mediaContainer {
  border-radius: 2rem;
  overflow: hidden;
}

.header {
  padding-left: 2rem;
}
